.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Usa 100% si necesitas ocupar todo el contenedor */
}
  .board-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Ajusta el número de columnas para el diseño */
    gap: 5px;
    max-width: 600px;
    margin: 1rem 0;
  }
  
  h1 {
    color: #FFA500;
  }

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ajusta esto según el tamaño del contenedor */
  text-align: center;
  font-size: 1.3rem; /* Ajusta el tamaño de fuente si es necesario */
  color: #aa100a; /* Cambia el color según el diseño */
}

  .waiting-message {
    color: gray;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
  }
  
  .dice-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .dice-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .play-button {
    margin-top: 10px;
  }
  
  