/* App.css */
body {
  margin: 0;
  background-color: #ff9747a2; /* Fondo naranja */
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.app-container {
  max-width: 600px;
  padding: 1rem;
  text-align: center;
}

h1, h2 {
  color: #8B0000; /* Color rojo oscuro para los títulos */
}

.info-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20rem;
  padding-top: 20px; /* Espacio adicional para bajar los enlaces */
}

.buttons, .menu-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 2rem;
}

button {
  background-color: #FFFFFF;
  color: #FFA500;
  border: none;
  padding: 1.2rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #FFB347;
  transform: scale(1.05);
}

.landing-page, .main-menu {
  max-width: 100%;
  margin: auto;
}

.button-link {
  display: inline-block; /* Asegura que el enlace se comporte como un elemento en línea */
  padding: 0.8rem 1.5rem;
  background-color: #FFA500; /* Color de fondo del botón */
  color: #FFFFFF; /* Color del texto */
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none; /* Elimina el subrayado del enlace */
  border-radius: 8px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones para hover */
}

.button-link:hover {
  background-color: #FFB347; /* Color de fondo al pasar el mouse */
  transform: scale(1.05); /* Efecto de escala */
}

.button-link:active {
  background-color: #FF8C00; /* Color del botón al hacer clic */
  transform: scale(0.95); /* Reduce el tamaño al hacer clic */
}
